# Team OctOs Extras
import /init.superuser.rc

on init
    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo

    # Run sysinit
    start sysinit

    # Set up the BFQIO hierarchy
    chmod 0755 /sys/fs/cgroup
    mkdir /sys/fs/cgroup/bfqio 0755 root system
    mount cgroup none /sys/fs/cgroup/bfqio bfqio
    write /sys/fs/cgroup/bfqio/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/bfqio.ioprio 3
    write /sys/fs/cgroup/bfqio/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/tasks

    # Audio (realtime) <= -16
    mkdir /sys/fs/cgroup/bfqio/rt-audio 0755 root system
    write /sys/fs/cgroup/bfqio/rt-audio/bfqio.ioprio_class 1
    write /sys/fs/cgroup/bfqio/rt-audio/bfqio.ioprio 1
    write /sys/fs/cgroup/bfqio/rt-audio/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/rt-audio/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/rt-audio/tasks

    # Display (realtime) <= -4
    mkdir /sys/fs/cgroup/bfqio/rt-display 0755 root system
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio_class 1
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.ioprio 4
    write /sys/fs/cgroup/bfqio/rt-display/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/rt-display/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/rt-display/tasks

    # Foreground == -2
    mkdir /sys/fs/cgroup/bfqio/fg 0755 root system
    write /sys/fs/cgroup/bfqio/fg/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/fg/bfqio.ioprio 0
    write /sys/fs/cgroup/bfqio/fg/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/fg/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/fg/tasks

    # Background >= 10
    mkdir /sys/fs/cgroup/bfqio/bg 0755 root system
    write /sys/fs/cgroup/bfqio/bg/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/bg/bfqio.ioprio 2
    write /sys/fs/cgroup/bfqio/bg/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/bg/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/bg/tasks

    # Idle >= 18
    mkdir /sys/fs/cgroup/bfqio/idle 0755 root system
    write /sys/fs/cgroup/bfqio/idle/bfqio.ioprio_class 3
    write /sys/fs/cgroup/bfqio/idle/bfqio.ioprio 3 
    write /sys/fs/cgroup/bfqio/idle/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/idle/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/idle/tasks

on boot
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    restorecon /sys/block/mmcblk0/queue/scheduler
    setenforce 0

    # Persistent properties (only created if persist exists)
    mkdir /persist/properties 0770 system system

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# For now default this to opendns until we modify the code to read a system propery
# dnscrypt proxy
service dnscrypt-proxy /system/xbin/dnscrypt-proxy
    class main
    disabled

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

# init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root
