on init
    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo

    # Run sysinit
    start sysinit

on boot

    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    restorecon /sys/block/mmcblk0/queue/scheduler

    # Persistent properties (only created if persist exists)
    mkdir /persist/properties 0770 system system

    # Wake Gestures
    chown system system /sys/android_touch/doubletap2wake
    chmod 0644 /sys/android_touch/doubletap2wake
    chown system system /sys/android_touch/sweep2wake
    chmod 0644 /sys/android_touch/sweep2wake
    chown system system /sys/android_touch/sweep2sleep
    chmod 0644 /sys/android_touch/sweep2sleep
    chown system system /sys/android_touch/wake_gestures
    chmod 0644 /sys/android_touch/wake_gestures
    chown system system /sys/android_touch/vib_strength
    chmod 0644 /sys/android_touch/vib_strength
    write /sys/android_touch/vib_strength 40

    # Adreno Idler
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_active
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_active
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_downdifferential
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_downdifferential
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_idewait
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_idewait
    chown system system /sys/module/adreno_idler/parameters/adreno_idler_ideworkload
    chmod 0644 /sys/module/adreno_idler/parameters/adreno_idler_ideworkload

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

# init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root
